# hydrate ENV variables from chezmoi data file
{{- range $key, $value := .env.shared }}
set -gx {{ $key }} {{ $value }}
{{- end }}

{{- if eq .chezmoi.os "darwin" }}
{{- range $key, $value := .env.macos }}
set -gx {{ $key }} {{ $value | quote }}
{{- end }}
{{- else if eq .chezmoi.os "linux" }}
{{- range $key, $value := .env.linux }}
set -gx {{ $key }} {{ $value | quote }}
{{- end }}
{{- end }}

{{- if eq .chezmoi.os "darwin" }}
fish_add_path $ANDROID_HOME/emulator
fish_add_path $ANDROID_HOME/tools
fish_add_path $ANDROID_HOME/tools/bin
fish_add_path $ANDROID_HOME/platform-tools
{{- end }}

# Make sure ~/.local/bin is at the front of $PATH
fish_add_path -m $HOME/.local/bin

if status is-interactive
  # Homebrew package manager
  {{- if eq .chezmoi.os "darwin" }}
  eval $(/opt/homebrew/bin/brew shellenv)
  {{- end }}
  mise activate fish | source
  fzf --fish | source
  starship init fish | source

  # abbreviations
  {{- range $key, $value := .abbreviations }}
  abbr -a {{ $key }} {{ $value | squote }}
  {{- end }}
end
