# FONT
# Kitten-managed settings
# BEGIN_KITTY_FONTS
font_family      family="Intel One Mono"
bold_font        auto
italic_font      auto
bold_italic_font auto
# END_KITTY_FONTS
font_size {{or (and (eq .chezmoi.os "darwin") "18") "14"}}
## Nerd Fonts v3.2.0
symbol_map U+e000-U+e00a,U+ea60-U+ebeb,U+e0a0-U+e0c8,U+e0ca,U+e0cc-U+e0d7,U+e200-U+e2a9,U+e300-U+e3e3,U+e5fa-U+e6b1,U+e700-U+e7c5,U+ed00-U+efc1,U+f000-U+f2ff,U+f000-U+f2e0,U+f300-U+f372,U+f400-U+f533,U+f0001-U+f1af0 Symbols Nerd Font Mono

# THEME
# BEGIN_KITTY_THEME
# Challenger Deeper
include current-theme.conf
# END_KITTY_THEME
tab_title_template "{fmt.fg.color3}{index} {fmt.fg.tab}{title}"
active_tab_title_template "{fmt.fg.color10}{index} {fmt.fg.tab}{title}"
active_tab_font_style bold

# OPTIONS
cursor_trail 1
cursor_trail_decay 0.1 0.3
cursor_trail_start_threshold 2
enable_audio_bell no
enabled_layouts splits, grid, horizontal, vertical, fat, tall, stack
macos_colorspace default
macos_option_as_alt yes
scrollback_lines 5000
tab_bar_style slant
## disable automatic update check (phone home)
update_check_interval 0
window_padding_width 2 3

# KEYMAPS
## reload config file
map ctrl+space>r load_config_file

## grabber (Copy Mode) https://github.com/yurikhan/kitty_grab
map ctrl+space>u kitten kitty_grab/grab.py

## hints (like Wezterm's Quick Select Mode)
map ctrl+shift+space kitten hints --customize-processing quick_select_hints.py
\ --alphabet asdfqwerzxcvjklmiuopghtybn
\ --hints-offset 0

# ctrl+{
map kitty_mod+[ scroll_to_prompt -1
# ctrl+}
map kitty_mod+] scroll_to_prompt 1

## WINDOWS (PANES)
### window navigation
# map alt+h neighboring_window left
map ctrl+space>h neighboring_window left
# map alt+l neighboring_window right
map ctrl+space>l neighboring_window right
# map alt+k neighboring_window up
map ctrl+space>k neighboring_window up
# map alt+j neighboring_window down
map ctrl+space>j neighboring_window down

### window splits
map ctrl+space>x launch --location=hsplit --cwd=current
map ctrl+space>v launch --location=vsplit --cwd=current
map ctrl+space>o layout_action rotate
map ctrl+space>{ move_window left
map ctrl+space>} move_window right
map ctrl+space>shift+t detach_window new-tab
map ctrl+space>! detach_window
map ctrl+space>c close_window
### like tmux zoom, sorta...
map ctrl+space>z toggle_layout stack

map ctrl+space>y launch --allow-remote-control kitty +kitten broadcast --match-tab state:focused

## TABS
### unbind default tab navigation
map kitty_mod+Left no_op
map kitty_mod+Right no_op

map ctrl+space>t new_tab_with_cwd
map ctrl+space>n next_tab
map ctrl+space>p previous_tab
map ctrl+space>1 goto_tab 1
map ctrl+space>2 goto_tab 2
map ctrl+space>3 goto_tab 3
map ctrl+space>4 goto_tab 4
map ctrl+space>5 goto_tab 5
map ctrl+space>6 goto_tab 6
map ctrl+space>7 goto_tab 7
map ctrl+space>8 goto_tab 8
map ctrl+space>9 goto_tab 9
map ctrl+space>& close_tab
map ctrl+space>, set_tab_title
